# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend specific
medicare-frontend/node_modules
medicare-frontend/.DS_Store
medicare-frontend/dist
medicare-frontend/dist-ssr
medicare-frontend/coverage
medicare-frontend/*.local

medicare-frontend/cypress/videos/
medicare-frontend/cypress/screenshots/

# Backend specific
medicare_backend/**/__pycache__/
medicare_backend/**/*.pyc
medicare_backend/media/
medicare_backend/db.sqlite3
medicare_backend/celerybeat-schedule.db

# Virtual environment
medicare_backend/myenv/
myenv/

# Environment variables
medicare_backend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# General
.DS_Storemyenv/
*.pyc
myenv/
*.pyc
